@media (max-width: 575.98px) {
  .nav-link {
    text-align: center;
  }
  .home-section {
    padding: 2rem 0;
  }
  .home-section-title {
    margin-top: 0;
    font-size: 25px;
    text-align: center;
  }
  .home-image {
    justify-content: center;
  }
  .home-section-description {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
  .home-section-btn {
    display: flex;
    justify-content: center;
  }
  .home-section-btn .btn {
    font-size: 0.9rem;
    width: 70%;
    margin-top: 0.3125rem;
    margin-bottom: 2rem;
  }
  .home-section-btn .btn::before {
    left: 15%;
    top: 5px;
    width: 70%;
  }
  /* about section */
  .about-section {
    padding: 0.5rem 0;
  }
  .people-img {
    justify-content: center;
  }
  .business-img {
    justify-content: center;
  }
  .people-img-description,
  .business-img-description {
    margin-bottom: 30px;
    align-items: center;
  }
  .people-img-description h1,
  .business-img-description h1 {
    font-size: 30px;
    text-align: center;
  }
  .people-img-description p,
  .business-img-description p {
    font-size: 1rem;
    text-align: center;
  }
  .people-img-description i {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .business-img-description i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  /* testimonials-section */
  .testimonials-section {
    padding: 2rem 0;
  }
  .cards {
    margin-top: 2.5rem;
  }
  .testimonials-section .card1 {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .testimonials-section .card2 {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .testimonials-section .card3 {
    justify-content: center;
  }
  .card-box {
    width: 100%;
  }
  .card-box h2 {
    font-size: 20px;
  }
  .card-box p {
    font-size: 12px;
  }
  /* contact section */
  .contact-us h1 {
    font-size: 25px;
    text-align: center;
  }
  .contact-us p {
    font-size: 14px;
    text-align: center;
  }
  /* footer */
  footer {
    padding-top: 2rem;
  }
  footer img {
    display: none;
  }
  .footer-logo-des img {
    margin: auto;
  }
  .footer-logo p {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 14px;
  }
  .footer-links h2 {
    font-size: 16px;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .footer-links p {
    font-size: 11px;
    cursor: pointer;
    text-align: center;
  }
  .khaled-copy {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .nav-link {
    text-align: center;
  }
  .home-section {
    padding: 2rem 0;
  }
  .home-section-title {
    margin-top: 0;
    font-size: 40px;
    text-align: center;
  }
  .home-section-description {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .home-section-btn {
    display: flex;
    justify-content: center;
  }
  .home-section-btn .btn {
    font-size: 0.9rem;
    width: 50%;
    margin-top: 0.3125rem;
    margin-bottom: 2rem;
  }
  .home-section-btn .btn::before {
    left: 25%;
    top: 5px;
    width: 50%;
  }
  .home-image {
    justify-content: center;
  }
  /* about section */
  .about-section {
    padding: 0.8rem 0;
  }
  .people-img {
    justify-content: center;
  }
  .business-img {
    justify-content: center;
  }
  .people-img-description,
  .business-img-description {
    margin-bottom: 30px;
    align-items: center;
  }
  .people-img-description h1,
  .business-img-description h1 {
    font-size: 30px;
    text-align: center;
  }
  .people-img-description p,
  .business-img-description p {
    font-size: 1rem;
    text-align: center;
  }
  .people-img-description i {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .business-img-description i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  /* testimonials-section */
  .testimonials-section {
    padding: 2rem 0;
  }
  .cards {
    margin-top: 2.5rem;
  }
  .testimonials-section .card1 {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .testimonials-section .card2 {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .testimonials-section .card3 {
    justify-content: center;
  }
  .card-box {
    width: 100%;
  }
  .card-box h2 {
    font-size: 25px;
  }
  .card-box p {
    font-size: 16px;
  }
  /* contact section */
  .contact-us h1 {
    font-size: 30px;
    text-align: center;
  }
  .contact-us p {
    font-size: 17px;
    text-align: center;
  }
  /* footer */
  footer {
    padding-top: 2rem;
  }
  footer img {
    display: none;
  }
  .footer-logo-des img {
    margin: auto;
  }
  .footer-logo p {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 14px;
  }
  .footer-links h2 {
    font-size: 16px;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .footer-links p {
    font-size: 11px;
    cursor: pointer;
    text-align: center;
  }
  .khaled-copy {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .nav-link {
    text-align: center;
  }
  .home-section {
    padding: 2.5rem 0;
  }
  .home-section-title {
    margin-top: 30px;
    font-size: 40px;
  }
  .home-section-description {
    width: 100%;
    font-size: 0.8rem;
  }
  .home-section-btn .btn {
    font-size: 0.9rem;
    width: 40%;
    margin-top: 0.3125rem;
    margin-bottom: 2rem;
  }
  .home-section-btn .btn::before {
    left: 0;
    top: 5px;
    width: 40%;
  }
  .home-image {
    justify-content: center;
  }
  .business-img {
    justify-content: center;
  }
  /* about section */
  .people-img-description h1,
  .business-img-description h1 {
    font-size: 24px;
    font-weight: 600;
  }
  /* testimonials-section */
  .testimonials-section {
    padding: 2rem 0;
  }
  .cards {
    margin-top: 2.5rem;
  }
  .testimonials-section .card1 {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .testimonials-section .card2 {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .testimonials-section .card3 {
    justify-content: center;
  }
  .card-box {
    width: 100%;
  }
  .card-box h2 {
    font-size: 27px;
  }
  .card-box p {
    font-size: 14px;
  }
  /* contact section */
  .contact-us h1 {
    font-size: 30px;
  }
  .contact-us p {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .home-section {
    padding: 2.5rem 0;
  }
  .home-section-title {
    margin-top: 30px;
    font-size: 50px;
  }
  .home-section-description {
    width: 100%;
    font-size: 1.2rem;
  }
  .home-section-btn .btn {
    font-size: 0.9rem;
    width: 40%;
    margin-top: 0.3125rem;
    margin-bottom: 2rem;
  }
  .home-section-btn .btn::before {
    left: 0;
    top: 5px;
    width: 40%;
  }
  /* about section */
  .people-img-description h1,
  .business-img-description h1 {
    font-size: 50px;
    font-weight: 600;
  }
  /* testimonials-section */
  .testimonials-section {
    padding: 2rem 0;
  }
  .cards {
    margin-top: 2.5rem;
  }
  .testimonials-section .card1 {
    margin-bottom: 1.5rem;
  }
  .testimonials-section .card2 {
    margin-bottom: 1.5rem;
  }
  .testimonials-section .card3 {
    margin-bottom: 1.5rem;
  }
  .card-box {
    width: 100%;
  }
  .card-box h2 {
    font-size: 27px;
  }
  .card-box p {
    font-size: 14px;
  }
  /* contact section */
  .contact-us h1 {
    font-size: 35px;
  }
  .contact-us p {
    font-size: 18px;
  }
}
@media print {
  body {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* about section */
  .people-img-description h1,
  .business-img-description h1 {
    font-size: 50px;
    font-weight: 600;
  }
  /* contact section */
  .contact-us h1 {
    font-size: 40px;
  }
  .contact-us p {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
}
